.err-msg{
    color: red;
    padding-left: 20px;
}
.am-tab-bar{
	position: fixed;
	bottom: 0;
	width: 100%;
	height:auto;
}
.am-card{
	margin-bottom: 10px;
}
#chat-page .chat-me .am-list-extra{
	flex-basis:auto;
}
#chat-page .chat-me .am-list-content{
	padding-right: 15px;
	text-align: right;
}
.stick-footer{
	z-index:10;
	position: absolute;
	bottom: 0;
	width:100%;
}